<div class="tm-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-4 col-sm-3 tm-site-name-container">
                <a routerLink="" class="tm-site-name">Source Of Knowledge</a>
                
            </div>
            <div class="col-lg-6 col-md-8 col-sm-9">
                <div class="mobile-menu-icon">
                    <i class="fa fa-bars"></i>
                </div>
                
                <nav class="tm-nav">
                    <ul>
                        <li><a routerLinkActive="active" routerLink="/welcome-page">Home</a></li>
                   
                      <li><a routerLinkActive="active" routerLink="/login-page">mylogin</a></li>&nbsp;
                      <li><a routerLinkActive="active" routerLink="/search-page">About us</a></li>&nbsp;
                      <!-- <li><a routerLinkActive="active" routerLink="/data">Searching</a></li>&nbsp; -->
                      <!-- <li><a routerLinkActive="active" routerLink="/memberlogin">Member Login</a></li>&nbsp;
                      <li><a routerLinkActive="active" routerLink="/login">Librarian Login</a></li>&nbsp;  -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
 
<router-outlet></router-outlet>
