.container-fluid{
    margin-left: 500px;
    margin-top: 20px;
    padding-bottom: 13px;
    padding-top: 13px;
    width: 500px;
}
body{
    margin: 0;
    padding: 0;
    background: url('/assets/aad.jpg');
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color:white;
}