tbody{
    margin: 0;
    padding: 0;
    background: url('/assets/searchback.jpg');
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color:white;
}
.box{
    text-align: right;
}