<h3>A library is a curated collection of sources of information and similar resources, </h3>
<h3>selected by experts and made accessible to a defined community for reference or </h3>
<h3>, often in a quiet environment conducive to study.</h3><br><br>

<h3>The Library preserves and provides access to a rich,diverse and enduring source of </h3>
  <h3> knowledge to inform,inspire and engage you in your intellectual and creative endeavors.</h3>
  <h3>Whether you are new to the Library of Congress or an experienced researcher,</h3> 
  <h3>we have a world-class staff ready to assist you online and in person.</h3><br><br>

  <h4>Contac no.: 46379495763</h4>
  <h4>Gitanjali road, mg square </h4>
  <h4>mira nagar, Mumbai </h4>
  <h4>441912 </h4>



